/* style.css */

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "content-wrapper"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background: lightgoldenrodyellow;
}

/* A wrapper to contain the main grid */
.content-wrapper {
  display: grid;
  grid-template-areas:
    "content side";
  grid-template-columns: 1fr 175px;
  max-width: 1100px; /* Limits content width */
  width: 100%;
  margin: 0 auto; /* Centers content */
  gap: 10px;
}

/* Header and Footer spanning full width */
header,
footer {
  grid-area: header;
  width: 100%;
  /*max-width: 1400px; /* Wider than content */
  margin: 0 auto; /* Centers header/footer */
  padding: 1rem;
  background: sandybrown;
  min-height: 3rem;
}

footer {
  grid-area: footer;
}

/* Main Content and Sidebar */
main {
  grid-area: content;
  background: lightblue;
}

aside {
  grid-area: side;
  background: lightgreen
}



